<a href="https://colab.research.google.com/github/eildes06/Inclassnotesandcodes/blob/main/DAwPy_S9_(Concatenating%2C_Merging_and_Joining)_emine.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

___

<p style="text-align: center;"><img src="https://docs.google.com/uc?id=1lY0Uj5R04yMY3-ZppPWxqCr5pvBLYPnV" class="img-fluid" alt="CLRSWY"></p>

___

<h1><p style="text-align: center;">Pandas Lesson, Session - 9</p><h1>

# Appending, Concatenating, Merging, and Joining 

There are **4 main ways** of combining DataFrames together: Appending, Concatenating, Joining and Merging. In this lecture we will discuss these 4 methods with examples.

____

 - **Append** is the specific case(axis=0, join='outer') of concat

 - **Concat** gives the flexibility to join based on the axis( all rows or all columns)
 
 - **Join** is based on the indexes (set by set_index)/key columns on how variable =['left','right','inner','outer']

 - **Merge** is based on any particular column each of the two dataframes, this columns are variables on like 'left_on', 'right_on', 'on'

### Example DataFrames

In [1]:
import numpy as np
import pandas as pd
import seaborn as sns

In [2]:
df1 = pd.DataFrame({'A': ['A0', 'A1', 'A2', 'A3'],
                    'B': ['B0', 'B1', 'B2', 'B3'],
                    'C': ['C0', 'C1', 'C2', 'C3'],
                    'D': ['D0', 'D1', 'D2', 'D3']}
                    )
df2 = pd.DataFrame({'A': ['A4', 'A5', 'A6', 'A7'],
                    'B': ['B4', 'B5', 'B6', 'B7'],
                    'C': ['C4', 'C5', 'C6', 'C7'],
                    'D': ['D4', 'D5', 'D6', 'D7']}
                    )
df3 = pd.DataFrame({'A': ['A8', 'A9', 'A10', 'A11'],
                    'B': ['B8', 'B9', 'B10', 'B11'],
                    'C': ['C8', 'C9', 'C10', 'C11'],
                    'D': ['D8', 'D9', 'D10', 'D11']}
                   )
df4 = pd.DataFrame({'C': ['C12', 'C13', 'C14', 'C15'],
                    'A': ['A12', 'A13', 'A14', 'A15'],
                    'D': ['D12', 'D13', 'D14', 'D15'],
                    'B': ['B12', 'B13', 'B14', 'B15']}
                    )

In [3]:
df1

    A   B   C   D
0  A0  B0  C0  D0
1  A1  B1  C1  D1
2  A2  B2  C2  D2
3  A3  B3  C3  D3

In [4]:
df2

    A   B   C   D
0  A4  B4  C4  D4
1  A5  B5  C5  D5
2  A6  B6  C6  D6
3  A7  B7  C7  D7

In [5]:
df3

     A    B    C    D
0   A8   B8   C8   D8
1   A9   B9   C9   D9
2  A10  B10  C10  D10
3  A11  B11  C11  D11

In [6]:
df4

     C    A    D    B
0  C12  A12  D12  B12
1  C13  A13  D13  B13
2  C14  A14  D14  B14
3  C15  A15  D15  B15

In [8]:
df1,df2,df3,df4

(    A   B   C   D
 0  A0  B0  C0  D0
 1  A1  B1  C1  D1
 2  A2  B2  C2  D2
 3  A3  B3  C3  D3,     A   B   C   D
 0  A4  B4  C4  D4
 1  A5  B5  C5  D5
 2  A6  B6  C6  D6
 3  A7  B7  C7  D7,      A    B    C    D
 0   A8   B8   C8   D8
 1   A9   B9   C9   D9
 2  A10  B10  C10  D10
 3  A11  B11  C11  D11,      C    A    D    B
 0  C12  A12  D12  B12
 1  C13  A13  D13  B13
 2  C14  A14  D14  B14
 3  C15  A15  D15  B15)

In [ ]:
display(df1,df2,df3,df4)

In [9]:
pd.concat([df1, df2, df3, df4], axis=1)

    A   B   C   D   A   B   C   D    A    B    C    D    C    A    D    B
0  A0  B0  C0  D0  A4  B4  C4  D4   A8   B8   C8   D8  C12  A12  D12  B12
1  A1  B1  C1  D1  A5  B5  C5  D5   A9   B9   C9   D9  C13  A13  D13  B13
2  A2  B2  C2  D2  A6  B6  C6  D6  A10  B10  C10  D10  C14  A14  D14  B14
3  A3  B3  C3  D3  A7  B7  C7  D7  A11  B11  C11  D11  C15  A15  D15  B15

## Appending

The most basic way of combining method for DataFrames.

In [ ]:
#bu alt alta birlestirme yapar
#neyi neye apend edeceksem onu yaparim

In [10]:
df1.append(df3)

     A    B    C    D
0   A0   B0   C0   D0
1   A1   B1   C1   D1
2   A2   B2   C2   D2
3   A3   B3   C3   D3
0   A8   B8   C8   D8
1   A9   B9   C9   D9
2  A10  B10  C10  D10
3  A11  B11  C11  D11

In [ ]:
#ignore trye dersen eskisini unutur yenisiniyazar

In [11]:
df1.append(df3,ignore_index=True)

     A    B    C    D
0   A0   B0   C0   D0
1   A1   B1   C1   D1
2   A2   B2   C2   D2
3   A3   B3   C3   D3
4   A8   B8   C8   D8
5   A9   B9   C9   D9
6  A10  B10  C10  D10
7  A11  B11  C11  D11

In [12]:
df1.append(df4)

     A    B    C    D
0   A0   B0   C0   D0
1   A1   B1   C1   D1
2   A2   B2   C2   D2
3   A3   B3   C3   D3
0  A12  B12  C12  D12
1  A13  B13  C13  D13
2  A14  B14  C14  D14
3  A15  B15  C15  D15

In [13]:
df1.append(df4,ignore_index=True)

     A    B    C    D
0   A0   B0   C0   D0
1   A1   B1   C1   D1
2   A2   B2   C2   D2
3   A3   B3   C3   D3
4  A12  B12  C12  D12
5  A13  B13  C13  D13
6  A14  B14  C14  D14
7  A15  B15  C15  D15

## Concatenation

Concatenation basically glues together DataFrames. Keep in mind that dimensions should match along the axis you are concatenating on. You can use **pd.concat** and pass in a list of DataFrames to concatenate together:

In [ ]:
#en temel kodu apenden farki pd .concat icine neleri concat etmek istiyorsan yaziyorum
#

In [ ]:
#append alt alta topluyor. Birden fazla ekleyeceimiz zaman concat ile yapmamz gerekir

In [14]:
pd.concat([df1,df2,df3])

     A    B    C    D
0   A0   B0   C0   D0
1   A1   B1   C1   D1
2   A2   B2   C2   D2
3   A3   B3   C3   D3
0   A4   B4   C4   D4
1   A5   B5   C5   D5
2   A6   B6   C6   D6
3   A7   B7   C7   D7
0   A8   B8   C8   D8
1   A9   B9   C9   D9
2  A10  B10  C10  D10
3  A11  B11  C11  D11

In [15]:
pd.concat([df1,df2,df3],ignore_index=True)#bastakine gore siralama yapar

      A    B    C    D
0    A0   B0   C0   D0
1    A1   B1   C1   D1
2    A2   B2   C2   D2
3    A3   B3   C3   D3
4    A4   B4   C4   D4
5    A5   B5   C5   D5
6    A6   B6   C6   D6
7    A7   B7   C7   D7
8    A8   B8   C8   D8
9    A9   B9   C9   D9
10  A10  B10  C10  D10
11  A11  B11  C11  D11

In [16]:
pd.concat([df4,df1,df2,df3],ignore_index=True)

      C    A    D    B
0   C12  A12  D12  B12
1   C13  A13  D13  B13
2   C14  A14  D14  B14
3   C15  A15  D15  B15
4    C0   A0   D0   B0
5    C1   A1   D1   B1
6    C2   A2   D2   B2
7    C3   A3   D3   B3
8    C4   A4   D4   B4
9    C5   A5   D5   B5
10   C6   A6   D6   B6
11   C7   A7   D7   B7
12   C8   A8   D8   B8
13   C9   A9   D9   B9
14  C10  A10  D10  B10
15  C11  A11  D11  B11

In [17]:
pd.concat([df1,df2,df3],ignore_index=True)#bazi yerleri ayri almak istiyorum
#tum satirlari al ve stundan 2 ye kadar al df1 de
#birince sutundan sonuna kadar satir tamami al df2
#d3 tamami al
#eslesm
pd.concat([df1.iloc[:,:2],df2.iloc[:,1:],df3],ignore_index=True)

      A    B    C    D
0    A0   B0  NaN  NaN
1    A1   B1  NaN  NaN
2    A2   B2  NaN  NaN
3    A3   B3  NaN  NaN
4   NaN   B4   C4   D4
5   NaN   B5   C5   D5
6   NaN   B6   C6   D6
7   NaN   B7   C7   D7
8    A8   B8   C8   D8
9    A9   B9   C9   D9
10  A10  B10  C10  D10
11  A11  B11  C11  D11

In [ ]:
#indexlere birlestirme yapti

In [19]:
pd.concat([df1,df2,df3],axis=1)

    A   B   C   D   A   B   C   D    A    B    C    D
0  A0  B0  C0  D0  A4  B4  C4  D4   A8   B8   C8   D8
1  A1  B1  C1  D1  A5  B5  C5  D5   A9   B9   C9   D9
2  A2  B2  C2  D2  A6  B6  C6  D6  A10  B10  C10  D10
3  A3  B3  C3  D3  A7  B7  C7  D7  A11  B11  C11  D11

In [20]:
pd.concat([df1.iloc[:2],df2.iloc[1:],df3], axis=1)

     A    B    C    D    A    B    C    D    A    B    C    D
0   A0   B0   C0   D0  NaN  NaN  NaN  NaN   A8   B8   C8   D8
1   A1   B1   C1   D1   A5   B5   C5   D5   A9   B9   C9   D9
2  NaN  NaN  NaN  NaN   A6   B6   C6   D6  A10  B10  C10  D10
3  NaN  NaN  NaN  NaN   A7   B7   C7   D7  A11  B11  C11  D11

In [21]:
df4 = pd.DataFrame({'A': ['A0', 'A1', 'A2', 'A3'],
                    'B': ['B0', 'B1', 'B2', 'B3'],
                    'C': ['C0', 'C1', 'C2', 'C3'],
                    'D': ['D0', 'D1', 'D2', 'D3']},
                    index=[0,1,2,3])
df5 = pd.DataFrame({'A': ['A4', 'A5', 'A6', 'A7'],
                    'B': ['B4', 'B5', 'B6', 'B7'],
                    'C': ['C4', 'C5', 'C6', 'C7'],
                    'D': ['D4', 'D5', 'D6', 'D7']},
                    index=[4,5,6,7])
df6 = pd.DataFrame({'A': ['A8', 'A9', 'A10', 'A11'],
                    'B': ['B8', 'B9', 'B10', 'B11'],
                    'C': ['C8', 'C9', 'C10', 'C11'],
                    'D': ['D8', 'D9', 'D10', 'D11']},
                    index=[8,9,10,11])

In [22]:
df4

    A   B   C   D
0  A0  B0  C0  D0
1  A1  B1  C1  D1
2  A2  B2  C2  D2
3  A3  B3  C3  D3

___

In [23]:
df5

    A   B   C   D
4  A4  B4  C4  D4
5  A5  B5  C5  D5
6  A6  B6  C6  D6
7  A7  B7  C7  D7

In [24]:
df6

      A    B    C    D
8    A8   B8   C8   D8
9    A9   B9   C9   D9
10  A10  B10  C10  D10
11  A11  B11  C11  D11

In [25]:
pd.concat([df4,df5,df6],axis=1)#bu olmadi her yer non

      A    B    C    D    A    B    C    D    A    B    C    D
0    A0   B0   C0   D0  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
1    A1   B1   C1   D1  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
2    A2   B2   C2   D2  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
3    A3   B3   C3   D3  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
4   NaN  NaN  NaN  NaN   A4   B4   C4   D4  NaN  NaN  NaN  NaN
5   NaN  NaN  NaN  NaN   A5   B5   C5   D5  NaN  NaN  NaN  NaN
6   NaN  NaN  NaN  NaN   A6   B6   C6   D6  NaN  NaN  NaN  NaN
7   NaN  NaN  NaN  NaN   A7   B7   C7   D7  NaN  NaN  NaN  NaN
8   NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN   A8   B8   C8   D8
9   NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN   A9   B9   C9   D9
10  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  A10  B10  C10  D10
11  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  A11  B11  C11  D11

In [26]:
pd.concat([df4,df5,df6],axis=1,ignore_index=True)

     0    1    2    3    4    5    6    7    8    9    10   11
0    A0   B0   C0   D0  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
1    A1   B1   C1   D1  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
2    A2   B2   C2   D2  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
3    A3   B3   C3   D3  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
4   NaN  NaN  NaN  NaN   A4   B4   C4   D4  NaN  NaN  NaN  NaN
5   NaN  NaN  NaN  NaN   A5   B5   C5   D5  NaN  NaN  NaN  NaN
6   NaN  NaN  NaN  NaN   A6   B6   C6   D6  NaN  NaN  NaN  NaN
7   NaN  NaN  NaN  NaN   A7   B7   C7   D7  NaN  NaN  NaN  NaN
8   NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN   A8   B8   C8   D8
9   NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN   A9   B9   C9   D9
10  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  A10  B10  C10  D10
11  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  A11  B11  C11  D11

In [ ]:
#bizim yukardaki gibi durumlarda bizim reset index diyerek manual olarak yapmamiz lazim

In [27]:
df5.reset_index(drop=True)

    A   B   C   D
0  A4  B4  C4  D4
1  A5  B5  C5  D5
2  A6  B6  C6  D6
3  A7  B7  C7  D7

In [28]:
pd.concat([df4, df5.reset_index(drop=True), df6.reset_index(drop=True)], axis=1)

    A   B   C   D   A   B   C   D    A    B    C    D
0  A0  B0  C0  D0  A4  B4  C4  D4   A8   B8   C8   D8
1  A1  B1  C1  D1  A5  B5  C5  D5   A9   B9   C9   D9
2  A2  B2  C2  D2  A6  B6  C6  D6  A10  B10  C10  D10
3  A3  B3  C3  D3  A7  B7  C7  D7  A11  B11  C11  D11

In [ ]:
#reset dediginde bole oluyor
#drop true demezsen eski indexi yana sutun olark atiyir
#droptrue eski indexi dus demk

## Merging

The **merge** function allows you to merge DataFrames together using a similar logic as merging SQL Tables together. For example:

In [29]:
left = pd.DataFrame({'key': ['K0', 'K1', 'K2', 'K3'],
                     'A': ['A0', 'A1', 'A2', 'A3'],
                     'B': ['B0', 'B1', 'B2', 'B3']})
right = pd.DataFrame({'key': ['K0', 'K1', 'K2', 'K3'],
                      'C': ['C0', 'C1', 'C2', 'C3'],
                      'D': ['D0', 'D1', 'D2', 'D3']})

In [30]:
left

  key   A   B
0  K0  A0  B0
1  K1  A1  B1
2  K2  A2  B2
3  K3  A3  B3

In [31]:
right

  key   C   D
0  K0  C0  D0
1  K1  C1  D1
2  K2  C2  D2
3  K3  C3  D3

In [ ]:
#merge notioni pd. merge icinde sag sol belirt
#how nasul yapalim inner mi
#

In [32]:
pd.merge(left,right, how="inner",on="key")#concata benziyo
#merge in icne yaziyon nasil oldugunu
#

  key   A   B   C   D
0  K0  A0  B0  C0  D0
1  K1  A1  B1  C1  D1
2  K2  A2  B2  C2  D2
3  K3  A3  B3  C3  D3

In [33]:
left2 = pd.DataFrame({'key': ['K0', 'K1', 'K4', 'K5'],
                     'A': ['A0', 'A1', 'A2', 'A3'],
                     'B': ['B0', 'B1', 'B2', 'B3']})
right2 = pd.DataFrame({'key': ['K0', 'K1', 'K2', 'K3'],
                       'C': ['C0', 'C1', 'C2', 'C3'],
                       'D': ['D0', 'D1', 'D2', 'D3']})

In [34]:
left2

  key   A   B
0  K0  A0  B0
1  K1  A1  B1
2  K4  A2  B2
3  K5  A3  B3

In [35]:
right2#keyler ayni degil bak isimler ayni olmasina ragmen valuelar ayri

  key   C   D
0  K0  C0  D0
1  K1  C1  D1
2  K2  C2  D2
3  K3  C3  D3

In [36]:
pd.merge(left2,right2, how="inner",on="key")#inner da calistirdigim icin
#sadce cakisanlari aldi

  key   A   B   C   D
0  K0  A0  B0  C0  D0
1  K1  A1  B1  C1  D1

In [ ]:
pd.merge(left2,right2, how="outer",on="key")#cakismayanlara nan veerdi

In [ ]:
pd.merge(left2,right2, how="left",on="key")#lefti oncelikli aldi

In [ ]:
pd.merge(left2,right2, how="right",on="key")

In [37]:
left3 = pd.DataFrame({'key': ['K0', 'K0', 'K1', 'K1'],
                     'A': ['A0', 'A1', 'A2', 'A3'],
                     'B': ['B0', 'B1', 'B2', 'B3']})
right3 = pd.DataFrame({'key': ['K0', 'K1', 'K2', 'K2'],
                       'C': ['C0', 'C1', 'C2', 'C3'],
                       'D': ['D0', 'D1', 'D2', 'D3']})

In [38]:
left3

  key   A   B
0  K0  A0  B0
1  K0  A1  B1
2  K1  A2  B2
3  K1  A3  B3

In [39]:
right3

  key   C   D
0  K0  C0  D0
1  K1  C1  D1
2  K2  C2  D2
3  K2  C3  D3

In [ ]:
pd.merge(left3,right3, how="inner",on="key")#ko ortak

In [ ]:
pd.merge(left3,right3, how="left",on="key")

In [ ]:
pd.merge(left3,right3, how="right",on="key")

In [41]:
left4 = pd.DataFrame({'key1': ['K0', 'K0', 'K1', 'K2'],
                     'key2': ['K0', 'K1', 'K0', 'K1'],
                        'A': ['A0', 'A1', 'A2', 'A3'],
                        'B': ['B0', 'B1', 'B2', 'B3']})
right4 = pd.DataFrame({'key1': ['K0', 'K1', 'K1', 'K2'],
                       'key2': ['K0', 'K0', 'K0', 'K0'],
                       'C': ['C0', 'C1', 'C2', 'C3'],
                       'D': ['D0', 'D1', 'D2', 'D3']})

In [42]:
left4

  key1 key2   A   B
0   K0   K0  A0  B0
1   K0   K1  A1  B1
2   K1   K0  A2  B2
3   K2   K1  A3  B3

In [43]:
right4

  key1 key2   C   D
0   K0   K0  C0  D0
1   K1   K0  C1  D1
2   K1   K0  C2  D2
3   K2   K0  C3  D3

In [44]:
pd.merge(left4, right4, how="inner", on=["key1", "key2"])

  key1 key2   A   B   C   D
0   K0   K0  A0  B0  C0  D0
1   K1   K0  A2  B2  C1  D1
2   K1   K0  A2  B2  C2  D2

In [45]:
left5 = pd.DataFrame({'lkey': ['x', 'y', 'z', 'x', 'z'],
                     'lvalue': [2, 3, 5, 7, 0]})
right5 = pd.DataFrame({'rkey': ['a', 'x', 'z', 'b'],
                     'rvalue': [7, 8, 9, 10]})

In [46]:
left5

  lkey  lvalue
0    x       2
1    y       3
2    z       5
3    x       7
4    z       0

In [47]:
right5#isimleri ayni olmayan seyler uzerinde islem yapalim

  rkey  rvalue
0    a       7
1    x       8
2    z       9
3    b      10

In [48]:
pd.merger(left5,right5,how="inner",left_on="lkey",right_on="rkey")

AttributeError: ignored

In [50]:
pd.merge(left5, right5, how="inner", left_on="lkey", right_on="rkey")

  lkey  lvalue rkey  rvalue
0    x       2    x       8
1    x       7    x       8
2    z       5    z       9
3    z       0    z       9

In [51]:
pd.merge(left5, right5, how="outer", left_on="lkey", right_on="rkey")

  lkey  lvalue rkey  rvalue
0    x     2.0    x     8.0
1    x     7.0    x     8.0
2    y     3.0  NaN     NaN
3    z     5.0    z     9.0
4    z     0.0    z     9.0
5  NaN     NaN    a     7.0
6  NaN     NaN    b    10.0

In [52]:
left6 = pd.DataFrame({'lkey': ['x', 'y', 'z', 'x'],
                        'lvalue': [2, 3, 5, 7]})
right6 = pd.DataFrame({'rkey': ['a', 'b', 'c', 'b'],
                         'rvalue': [7, 8, 9, 10]})

In [53]:
left6

  lkey  lvalue
0    x       2
1    y       3
2    z       5
3    x       7

In [54]:
right6#hic ayni elaman yok

  rkey  rvalue
0    a       7
1    b       8
2    c       9
3    b      10

In [55]:
pd.merge(left6, right6, how="inner", left_on="lkey", right_on="rkey")#bos kume3
#ayni olan yokki ama index numarisi uzerinden birlestirme yapabilrsiniz

Empty DataFrame
Columns: [lkey, lvalue, rkey, rvalue]
Index: []

In [56]:
pd.merge(left6, right6, how="inner", left_index=True, right_index=True)
#concat gibi oldu siz merge kullanarak heesey yapabilin

  lkey  lvalue rkey  rvalue
0    x       2    a       7
1    y       3    b       8
2    z       5    c       9
3    x       7    b      10

## Joining
Joining is a convenient method for combining the columns of two potentially differently-indexed DataFrames into a single result DataFrame.

In [57]:
left7 = pd.DataFrame({'A': ['A0', 'A1', 'A2'],
                     'B': ['B0', 'B1', 'B2']},
                      index = ['K0', 'K1', 'K2'])
right7 = pd.DataFrame({'C': ['C0', 'C2', 'C3'],
                    'D': ['D0', 'D2', 'D3']},
                      index = ['K0', 'K2', 'K3'])

In [ ]:
#apende benziyo yazilimi birlestireceklerimiz anda dataframe yaziyor ona neyi join etcesek
#onu yaziyoruz

In [ ]:
#

In [58]:
left7

     A   B
K0  A0  B0
K1  A1  B1
K2  A2  B2

In [ ]:
#indexe gore jin yapti lefte gore
#defaultu lefttir join
#sadce indexler uzerine calisyr

In [60]:
left8 = pd.DataFrame({'key': ['K0', 'K2', 'K3', 'K4', 'K5', 'K6'],
                   'X': ['X0', 'X2', 'X3', 'X4', 'X5', 'X6']})
right8 = pd.DataFrame({'key': ['K0', 'K2', 'K3'],
                      'Y': ['Y0', 'Y2', 'Y3']})

In [59]:
left8

NameError: ignored

In [61]:
right8#iki tarafta ayni isimde sutun varsa join kabul etmez

  key   Y
0  K0  Y0
1  K2  Y2
2  K3  Y3

In [62]:
left8.join(right8,lsuffix="left",rsuffix="right")

  keyleft   X keyright    Y
0      K0  X0       K0   Y0
1      K2  X2       K2   Y2
2      K3  X3       K3   Y3
3      K4  X4      NaN  NaN
4      K5  X5      NaN  NaN
5      K6  X6      NaN  NaN

In [ ]:
#join indexlere gore yapar ama uzunlugu falan 
#ona gire bosluga nan verir
#ama iki ayni isimde key varsa calismaz hata verir
#concatta oindexe yapamsina gore bole sikinti yoktu

In [63]:
#illa ben join yapmak istiyorsam da bu keyleri indexe almam lazim
left8.set_index("key")#left8 de keyi indexse gecirdi

      X
key
K0   X0
K2   X2
K3   X3
K4   X4
K5   X5
K6   X6

In [ ]:
left8.set_index("key").join(left8.set_index("key"))

In [67]:
left8.set_index("key").join(right8.set_index("key"))#sen bir object ile int i birlestirmeye calisiyon diyor

      X    Y
key
K0   X0   Y0
K2   X2   Y2
K3   X3   Y3
K4   X4  NaN
K5   X5  NaN
K6   X6  NaN

In [ ]:
#burdaki on ifadesi sadece ana dataframe etkiler
#hem index hem on a key yazman lazim

In [68]:
left8.join(right8.set_index("key"), on="key")

  key   X    Y
0  K0  X0   Y0
1  K2  X2   Y2
2  K3  X3   Y3
3  K4  X4  NaN
4  K5  X5  NaN
5  K6  X6  NaN

In [ ]:
#kullanim amacina gore kullanirsin

In [69]:
pd.merge(left8,right8, how=outer)
left8.join(right8.set_index(key),on=key)

SyntaxError: ignored

___


<p style="text-align: center;"><img src="https://docs.google.com/uc?id=1lY0Uj5R04yMY3-ZppPWxqCr5pvBLYPnV" class="img-fluid" alt="Rossum"></p>

___

# End of The Session