<a href="https://colab.research.google.com/github/eildes06/Inclassnotesandcodes/blob/main/DAwPy_S7_(Handling_Missing_Values)_emine.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

___

<p style="text-align: center;"><img src="https://docs.google.com/uc?id=1lY0Uj5R04yMY3-ZppPWxqCr5pvBLYPnV" class="img-fluid" alt="CLRSWY"></p>

___

<h1><p style="text-align: center;">Pandas Lesson, Session - 7</p><h1>

# Handling with Missing Values

In [1]:
import numpy as np
import pandas as pd
import seaborn as sns

In [2]:
id_no = ["P001","P002","P003","P004","P005","P006","P007","P008","P009","P010","P011"]
gender=["M","F","M","F","M","F","M","F","M","F","M"]
status = ["FT","PT","-","FT","PT","PT","FT","-","PT","FT",np.nan]
dept = ["DS","FS","AWS","AWS","DS",np.nan,"FS","FS",np.nan,"DS","AWS"]
V1 = np.array([2,3,5,np.nan,7,1,np.nan,10,14,"-",6])
V2 = np.array([8,np.nan,5,8,11,np.nan,np.nan,2,3,7,9])
salary = np.array([np.nan,54,59,120,58,75,np.nan,136,60,125,np.nan])
df = pd.DataFrame({
                   "id" : id_no,
                   "gender": gender,
                   "status": status,
                   "dept": dept,
                   "var1" : V1,
                   "var2" : V2,
                   "salary" : salary
                  })
df

      id gender status dept var1  var2  salary
0   P001      M     FT   DS    2   8.0     NaN
1   P002      F     PT   FS    3   NaN    54.0
2   P003      M      -  AWS    5   5.0    59.0
3   P004      F     FT  AWS  nan   8.0   120.0
4   P005      M     PT   DS    7  11.0    58.0
5   P006      F     PT  NaN    1   NaN    75.0
6   P007      M     FT   FS  nan   NaN     NaN
7   P008      F      -   FS   10   2.0   136.0
8   P009      M     PT  NaN   14   3.0    60.0
9   P010      F     FT   DS    -   7.0   125.0
10  P011      M    NaN  AWS    6   9.0     NaN

## Type of NaN Values

In [ ]:
#mising data dogru yolu yok duruma ve sarta gore degisecek
#deniycen score bakcan sonra #miisin valeue manualde yanlis alakasi girilmis olur
#cihaz hatasi o cihaz orda olcum yapmamistir

In [ ]:
#MCAR random missig valu tamamen:Bunlarin olculebilir bisesi yok
#patterni yok dolayisiyla geriye kalan datayla bunu bulamayiz
#surveyda amanin cvp vermemesi
#data uretilirken o kisim giirlmemis

In [ ]:
#miising random ise data girilmemis bunlari interpolite yontemler
#yani geriye kalan datay;a doldurabiliriz
#randim olmayanda hatayi biliriz ama dolduraamiyoruz
#olculerbilir bise degil adam kac evi var soylemek istemiyir

In [ ]:
#yapisal da o neden missing belli degil adam calismiyor
#geliri 0 atayabiliyoruz

In [ ]:
#datam coksa missisngim az ise kurtulabilrim.
#10000 de 100 ise tmm ama o yuz belli bir bolgeyi temsil etmememeli
#inplatution yani doldurma yontemi
#3. de var ama anlamadim zaten bise degil dedi:)

In [ ]:
#inputing metod

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11 entries, 0 to 10
Data columns (total 7 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      11 non-null     object
 1   gender  11 non-null     object
 2   status  10 non-null     object
 3   dept    9 non-null      object
 4   var1    11 non-null     object
 5   var2    8 non-null      float64
 6   salary  8 non-null      float64
dtypes: float64(2), object(5)
memory usage: 744.0+ bytes

In [ ]:
#nonlar niye farkli bailari arayle olusturmusum
#aray tek data tipi alir
#np nin tipi floattir
#sen arayin icine np bise koyarsan string yapar 
#liste yapsaydin bunlari float algiliyor
#burdaki sikinti bunlarin bir aray icinde olmasi
#np nan float
#biz float severiz
#peki npNaN ise o da ayni
#bir de type(None) tipi NoneType oluyor
#bunlar cogu yerde ayni islemi yapiyor

In [4]:
df.salary

0       NaN
1      54.0
2      59.0
3     120.0
4      58.0
5      75.0
6       NaN
7     136.0
8      60.0
9     125.0
10      NaN
Name: salary, dtype: float64

In [ ]:
#satir satir tiplerine bakayim

In [5]:
type(df.salary[0])

numpy.float64

In [6]:
type(df.salary[1])

numpy.float64

In [7]:
df.status

0      FT
1      PT
2       -
3      FT
4      PT
5      PT
6      FT
7       -
8      PT
9      FT
10    NaN
Name: status, dtype: object

In [8]:
type(df.status[2])

str

In [9]:
type(df.status[10])

float

In [10]:
df.var1

0       2
1       3
2       5
3     nan
4       7
5       1
6     nan
7      10
8      14
9       -
10      6
Name: var1, dtype: object

In [11]:
type(df.status[-1])

KeyError: ignored

In [12]:
type(df.var1[3])

str

In [13]:
type(df.var1[9])

str

**What is the None keyword in Python?**

https://www.educative.io/edpresso/what-is-the-none-keyword-in-python

https://stackoverflow.com/questions/21095654/what-is-a-nonetype-object

**Difference between None and NaN in Pandas**

https://www.skytowner.com/explore/difference_between_none_and_nan_in_pandas

https://kegui.medium.com/what-is-the-difference-between-nan-none-pd-nan-and-np-nan-a8ee0532e2eb

**Difference between np.nan and np.NaN**

https://stackoverflow.com/questions/53436339/difference-between-np-nan-and-np-nan

**Difference between nan and 'nan' in Python**

https://stackoverflow.com/questions/40309789/difference-between-nan-and-nan-in-python

https://towardsdatascience.com/navigating-the-hell-of-nans-in-python-71b12558895b

## Detecting Missing Values

NaN, standing for not a number, is a numeric data type used to represent any value that is undefined or unpresentable.

For example, 0/0 is undefined as a real number and is, therefore, represented by NaN. The square root of a negative number is an imaginary number that cannot be represented as a real number, so, it is represented by NaN.

NaN is also assigned to variables, in a computation, that do not have values and have yet to be computed.

In [14]:
df

      id gender status dept var1  var2  salary
0   P001      M     FT   DS    2   8.0     NaN
1   P002      F     PT   FS    3   NaN    54.0
2   P003      M      -  AWS    5   5.0    59.0
3   P004      F     FT  AWS  nan   8.0   120.0
4   P005      M     PT   DS    7  11.0    58.0
5   P006      F     PT  NaN    1   NaN    75.0
6   P007      M     FT   FS  nan   NaN     NaN
7   P008      F      -   FS   10   2.0   136.0
8   P009      M     PT  NaN   14   3.0    60.0
9   P010      F     FT   DS    -   7.0   125.0
10  P011      M    NaN  AWS    6   9.0     NaN

In [15]:
df.isnull()

       id  gender  status   dept   var1   var2  salary
0   False   False   False  False  False  False    True
1   False   False   False  False  False   True   False
2   False   False   False  False  False  False   False
3   False   False   False  False  False  False   False
4   False   False   False  False  False  False   False
5   False   False   False   True  False   True   False
6   False   False   False  False  False   True    True
7   False   False   False  False  False  False   False
8   False   False   False   True  False  False   False
9   False   False   False  False  False  False   False
10  False   False    True  False  False  False    True

In [16]:
df.isna()#ikisi de ayni yukardayken

       id  gender  status   dept   var1   var2  salary
0   False   False   False  False  False  False    True
1   False   False   False  False  False   True   False
2   False   False   False  False  False  False   False
3   False   False   False  False  False  False   False
4   False   False   False  False  False  False   False
5   False   False   False   True  False   True   False
6   False   False   False  False  False   True    True
7   False   False   False  False  False  False   False
8   False   False   False   True  False  False   False
9   False   False   False  False  False  False   False
10  False   False    True  False  False  False    True

In [ ]:
#nullari true olmayi false dondurur ikisedi ayni

In [17]:
df.notnull()

      id  gender  status   dept  var1   var2  salary
0   True    True    True   True  True   True   False
1   True    True    True   True  True  False    True
2   True    True    True   True  True   True    True
3   True    True    True   True  True   True    True
4   True    True    True   True  True   True    True
5   True    True    True  False  True  False    True
6   True    True    True   True  True  False   False
7   True    True    True   True  True   True    True
8   True    True    True  False  True   True    True
9   True    True    True   True  True   True    True
10  True    True   False   True  True   True   False

In [18]:
df.notna()

      id  gender  status   dept  var1   var2  salary
0   True    True    True   True  True   True   False
1   True    True    True   True  True  False    True
2   True    True    True   True  True   True    True
3   True    True    True   True  True   True    True
4   True    True    True   True  True   True    True
5   True    True    True  False  True  False    True
6   True    True    True   True  True  False   False
7   True    True    True   True  True   True    True
8   True    True    True  False  True   True    True
9   True    True    True   True  True   True    True
10  True    True   False   True  True   True   False

In [19]:
#ilgili sutunda null var mi?
df.isnull().any()

id        False
gender    False
status     True
dept       True
var1      False
var2       True
salary     True
dtype: bool

In [21]:
df.isnull().any(axis=1)#satr stur nul var mi diye bakti
#ilgili satirda bir tane bileee nul varsa true donderiryor

0      True
1      True
2     False
3     False
4     False
5      True
6      True
7     False
8      True
9     False
10     True
dtype: bool

In [22]:
df.isnull().sum()#ilgili sutundarda kactane

id        0
gender    0
status    1
dept      2
var1      0
var2      3
salary    3
dtype: int64

In [23]:
df.isnull().sum().sum()#tum data kactane var

9

In [24]:
df.salary.isnull().sum()

3

In [25]:
df.salary.isnull().any()

True

In [26]:
df.salary.isnull().sum()/len(df)*100 #satir sayisina bolersem oranlari verir

27.27272727272727

In [27]:
df.isnull().sum()/len(df)*100

id         0.000000
gender     0.000000
status     9.090909
dept      18.181818
var1       0.000000
var2      27.272727
salary    27.272727
dtype: float64

In [30]:
df.loc[df.isnull().any(axis=1)]

      id gender status dept var1  var2  salary
0   P001      M     FT   DS    2   8.0     NaN
1   P002      F     PT   FS    3   NaN    54.0
5   P006      F     PT  NaN    1   NaN    75.0
6   P007      M     FT   FS  nan   NaN     NaN
8   P009      M     PT  NaN   14   3.0    60.0
10  P011      M    NaN  AWS    6   9.0     NaN

In [ ]:
#~ bu isaret icinde yazilanin tersi demek yani non olmayanlari bana getir

In [31]:
df.loc[~df.isnull().any(axis=1)]

     id gender status dept var1  var2  salary
2  P003      M      -  AWS    5   5.0    59.0
3  P004      F     FT  AWS  nan   8.0   120.0
4  P005      M     PT   DS    7  11.0    58.0
7  P008      F      -   FS   10   2.0   136.0
9  P010      F     FT   DS    -   7.0   125.0

In [ ]:
df.loc[df.isnull().all(axis=1)]#bise getirmez benim hic bir satirda tamami nul olmadigi
#icin bos data getirr

In [32]:
df.loc[df.salary.isnull()]#bir sutun uzerinden gidelim
#df salaryda null olanlari getir

      id gender status dept var1  var2  salary
0   P001      M     FT   DS    2   8.0     NaN
6   P007      M     FT   FS  nan   NaN     NaN
10  P011      M    NaN  AWS    6   9.0     NaN

In [33]:
#simdi adam tire falan yapmis unknown yapmis bunlari nasil nul yaparim
df

      id gender status dept var1  var2  salary
0   P001      M     FT   DS    2   8.0     NaN
1   P002      F     PT   FS    3   NaN    54.0
2   P003      M      -  AWS    5   5.0    59.0
3   P004      F     FT  AWS  nan   8.0   120.0
4   P005      M     PT   DS    7  11.0    58.0
5   P006      F     PT  NaN    1   NaN    75.0
6   P007      M     FT   FS  nan   NaN     NaN
7   P008      F      -   FS   10   2.0   136.0
8   P009      M     PT  NaN   14   3.0    60.0
9   P010      F     FT   DS    -   7.0   125.0
10  P011      M    NaN  AWS    6   9.0     NaN

In [ ]:
#var1 deki tire yerine null yapmak isteyon
#df["var1"].map({"-":np.non}) bu var1 in hepsini nan yapar

In [ ]:
#yani tire unknow gibi seylerde map kullanmak mantikli degil replace dogru daha esnek 
#map in yaptiginu ve fazlasini yapar

In [ ]:
df["var1"].replace(to_replace= "-",value=np.nan)#diger verileri ayni tuttu ama istedigimi degistirdi

In [ ]:
#tipi object floata donmesi lazim hala nan lari dloat yapamiyor

In [ ]:
df["var1"].replace(to_replace= "-",value=np.nan).astype("float")

In [ ]:
#bu hale getirmezzem mising valuelari dolduramam b
#bunlar da hala kalici degil
#

In [ ]:
df["var1"]=df["var1"].replace(to_replace= "-",value=np.nan).astype("float")

In [ ]:
df.var1

In [ ]:
df["var1"]=df["var1"].replace(to_replace= "-",value=np.nan)#koseli paratse icinen

#birden fazla sey yazip bunlarin hepsini soyle yap diyebilirsin

## Converting inappropriate values to NaN values

- map()
- replace()

In [ ]:
df["status"] = df["status"].replace("-", np.nan)
df["status"]

In [ ]:
df

In [ ]:
df.isnull().sum()#genelde replace kullaniyoruz missing valuelara

**Notes:** When arg is a dictionary, values in Series that are not in the dictionary (as keys) are converted to NaN. However, if the dictionary is a dict subclass that defines __missing__ (i.e. provides a method for default values), then this default is used rather than NaN.

https://www.w3resource.com/pandas/series/series-map.php#:~:text=The%20map()%20function%20is,a%20dict%20or%20a%20Series.&text=Mapping%20correspondence.&text=If%20'ignore'%2C%20propagate%20NaN,them%20to%20the%20mapping%20correspondence.

In [ ]:
#satir satir bakmak istersen

In [ ]:
df.isnul().sum(axis=1)

## Missing value handling methods

 1. <b>Deleting Rows</b> ----->if it has more than 70-75% of missing values. This percentage can change according to the data. So each situation should be evaluated case by case.
    
 2. <b>Replacing With Mean/Median/Mode (Imputation)</b>--->can be applied on a feature which has numeric data

 3. <b> Assigning An Unique Category</b>--->If a categorical feature has definite number of classes, we can assign another class
    
 4. <b>Predicting The Missing Values</b>---> we can predict the nulls with the help of a machine learning algorithm like linear regression

 5. <b>Using Algorithms Which Support Missing Values</b>--->KNN is a machine learning algorithm which works on the principle of distance measure.  This algorithm can be used when there are nulls present in the dataset.  KNN considers the missing values by taking the majority of the K nearest values

 ### Dropping
 
 - dropna()
 - drop()

In [ ]:
#yuzde 75 i null ise o sutunu dusur 
#bu oran dataya gore degisir
#

In [ ]:
#dropna
df.dropna(axis=1,how="any",thresh=)

In [ ]:
df.dropna(axis=0, how="any", thresh=None, inplace=False)
#11 satirdan tek satir kaldi 
#bir non bile varsa hepsini atti
#axis 0 oldugu icin satir satir bakti

In [ ]:
df.dropna(axis=1, how="any", thresh=None, inplace=False)
#sutun sutuun bakti 2 sutun kaldi

In [ ]:
df.dropna(axis=0, how="all", thresh=None, inplace=False)
#sutunun tamaminda tamami all olan olmadigi icin hic birsey dusurmedi
#sutun icindeki rowlari topuyor
#axis 0 rowdur
#axis bir

In [ ]:
df.dropna(axis=0, how="any", thresh=None, inplace=False)

In [ ]:
#stutun olusturuyorum tamami np nan olan
df["delete_me"]=np.nan
df

In [ ]:
df.dropna(axis=1, how="all", thresh=None, inplace=False)#siler burayi
#axis bir sutun 
#axis 0 rowlar demek

In [ ]:
df.dropna(axis=0, how="any", thresh=9, inplace=False)
# treshli yer ilgili sutunda kactane nul olmayan deger var ise ben onu silmeyeyim demek
#tresh null olmamasi uzerine gidiyor
#yani ilgili sutunda 9 null deger yoksa sen oraya dokunma demek

In [ ]:
#eger bir sutunda 9 tane nan olmayan value varsa onu dusme
#9 da degisim gosteriyor o yuzden 9 yaz dedi
#how all dersen ilk basta treashi kale aliyor ona gore dusuyor
#traeah i kullanirsan howin anlamiy kalmiyor

* 'any' : If any NA values are present, drop that row or column.
* 'all' : If all values are NA, drop that row or column.

https://www.journaldev.com/33492/pandas-dropna-drop-null-na-values-from-dataframe

In [ ]:
df.dropna(axis=0, how="all ", thresh=9, inplace=False)

In [ ]:
df.drop([1,3,5])#bbunlari goturur

In [ ]:
#buraya sutun ismi yazsaydim var1 var2  calsmazdi
#axis belirtmem lazim
#sutunlari dusurmek istiyorsam

In [ ]:
df.drop(["var1","var2"],axis=1)

In [ ]:
df.drop(index=[1,3,5])#yukarda axis gerekli ama indexde ve sutunda axis e gerek yok
#direk indexde axis e gerek yok
#mesela colum duscem gerek yok axis zaten colums oldugunu yazdim

In [ ]:
df.drop(index=[1,3,5])

thresh=N requires that a column has at least N **non-NaNs to survive.** 

https://stackoverflow.com/questions/51584906/thresh-in-dropna-for-dataframe-in-pandas-in-python/51584935

In [ ]:
#dropna missing value aya bagli dusurme 
#drop keyfi dusurme

 ### Filling Missing Values (Imputation)
 - fillna()
 - where()
 - interpolate()

In [ ]:
#bu mising valuelari 0 lari doldurabiirm ne istersen

In [ ]:
df.fillna(0)

In [ ]:
df.fillna(0)

In [ ]:
#mesela durek data degil suturn sutun da doldurabilirsin
df.var1.fillna(0)
#var yok diye sutun var eksik varsa ben onlara fill na ile yok yapabilirm

 #### a.Filling with a specific value

 #### b.Filling with any Proper Value

In [ ]:
df.var1.mean()#6 mis

In [ ]:
#burdaki nan valulari butun sutunlarin ortalamasiyla doldurayim
df.var1

In [ ]:
df["var1"].fillna(df["var1"].mean())
#non lara geldi 6 degerini verdi
#ilgili sutuna gore karr vercen

In [ ]:
df.var1.median()

In [ ]:
df["var1"].fillna(df["var1"].median())#bu seferde nanlari 5.5 doldurur
#implace ve atama yapmadigin icn kalici degl yaptigin

In [ ]:
df.fillna(df.mean())

In [ ]:
df.fillna({"dept":"other", "var1":df.var1.mean(), "var2":df.var2.median()})
#sutun sutun sunu sunla sunu sunla doldur da diyebilin

**where() Replace values where the condition is False.**

In [ ]:
#where=

In [ ]:
df.notno()#nan degerlei false verir
#flse olan yerleri doldrur

In [ ]:
df.where(cond=df.notna(), other=df.mean(), axis = 1)
#meanleri axis 1 e gore al.fillna varken where kullanmiyoruz biz

In [ ]:
#interpolite= sayilsakl da clisir 1 ile 2 arasi 2 nan var iki esit araliklaarayi dolduru
#linspace gibi 
df.interpolite

https://www.geeksforgeeks.org/python-pandas-dataframe-interpolate/

 #### c.Filling the Missing Values of Categorical Variables

In [ ]:
df["dept"].mode()#moddan sonra indexleme yapilir

In [ ]:
#genelde kategorikler mode ile doldurulur

In [ ]:
df["dept"].mode()[0]#indexleme ile ulasiliyor
#tek ciksa bile 0 yazmalisiin yani value degerini ogrenmek iicn bole yapmalisin

In [ ]:
df["dept"].fillna(df["dept"].mode()[0])

In [ ]:
df["dept"].fillna(medhod="bfill")#asagidan yukari dogru oldur.bir onceki degeri aldi
#o bos degere atadu

In [ ]:
#5. dehgere kendinden bir onceki degeri atadi arka arka olsa aynisi verecekti

In [ ]:
df["dept"].fillna(method="ffill")

 #### d.Filling by condition & by Group of the Categorical Variables

In [ ]:
#oransal bir doldrma istiyorsan 
#3 tane unik deger var hepsi yuzde 30 larda ise
#orda back fill ffill dogru olmaz
#ama mode mantiklidir

In [ ]:
#genelde bir gruplandirma ile atama yapiyorz

In [ ]:
df

In [ ]:
df["dept"].fillna(method="ffill", inplace=True)
df

In [ ]:
#statusu doldurmak isterim. kim ipucu verir
#salaries uydun olur

In [ ]:
df.loc[df["salary"]>=100,"status"]#salari si 100 den  buyukler ve buna uyan statuslari getor
#100 den fazla olanlar full time olur

In [ ]:
df.loc[df["salary"]<=100,"status"]

In [ ]:
df.loc[df["salary"]>=100, "status"].fillna(df.loc[df["salary"]>=100, "status"].mode()[0], inplace=True)
df.loc[df["salary"]<100, "status"].fillna(df.loc[df["salary"]<100, "status"].mode()[0], inplace=True)
df

In [ ]:
#bu condition da olan degelre o degerlerin modunu ata
#doldurmadi inmplace true ya ragmen
#loclar la atama yaparken condition ile implace yerien neyin uzerine calisyorsan
#ona esitlemelisin

In [ ]:
df.loc[df["salary"]>=100, "status"] = df.loc[df["salary"]>=100, "status"].fillna(df.loc[df["salary"]>=100, "status"].mode()[0])
df.loc[df["salary"]<100, "status"] = df.loc[df["salary"]<100, "status"].fillna(df.loc[df["salary"]<100, "status"].mode()[0])
df

In [ ]:
#burda da olmadi cunku salaride nan
#

In [ ]:
df.groupby(["gender", "dept"])["status"].apply(lambda x : x.mode()[0])

In [ ]:
df.groupby(["gender", "dept"])["status"].transfor(lambda x : x.mode()[0])
#datraframe uzunlugu kadar bana seri dondurur

In [ ]:
df["trans_status"] = df.groupby(["gender", "dept"])["status"].transform(lambda x : x.mode()[0])
df#status sutunun transform edilmis halini sura atadim

In [ ]:
#fonk kismi satira gelcek nan var mi tarak gibi birbirne gecircek

In [ ]:
df["status"].fillna(df.groupby(["gender", "dept"])["status"].transform(lambda x : x.mode()[0]), inplace=True)
df#hangi sutun foldurcam neye geore transform ettiysem ona gore islem yapcak

In [ ]:
#salray dolduralim3 non var salay de departmanta gore doldurabilirim
#dept e gore gurplandirmis bir seri cikar

In [ ]:
df.groupby("dept")["salary"].mean()

In [ ]:
df.groupby("status","dept")["salary"].mean()

In [ ]:
df.groupby("dept")["salary"].transform("mean")

In [ ]:
df.groupby("status","dept")["salary"].transform("mean")#status ekledik
#siz full ya da part dikkate almazsan full olan birine 86 veir
#50,60 da 86 yapcak
#ama ben iki kademeli grup by yaparsam dah saglikli bir sonuc verir

In [ ]:
df["trans_salary"] = df.groupby(["status","dept"])["salary"].transform("mean")
df#full 125 gelmis

In [ ]:
df["salary"].fillna(df.groupby(["status","dept"])["salary"].transform("mean"), inplace=True)
df#non degerlri transform ile dodurmus olduk

### filling with Interpolation

Pandas dataframe.interpolate() function is basically used to fill NA values in the dataframe or series. But, this is a very powerful function to fill the missing values. It uses various interpolation technique to fill the missing values rather than hard-coding the value.

https://www.geeksforgeeks.org/python-pandas-dataframe-interpolate/

https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.interpolate.html