<a href="https://colab.research.google.com/github/eildes06/Inclassnotesandcodes/blob/main/Statistics_Assignment_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Descriptive Statistics

 Import **NumPy**, **SciPy**, and **Pandas**

In [37]:
import numpy as np
from scipy import stats
import pandas as pd
import matplotlib.pyplot as plt

 Randomly generate 1,000 samples from the normal distribution using `np.random.normal()`(mean = 100, standard deviation = 15)

In [36]:
samples =np.random.normal(100,15,1000)
samples

array([118.92195713, 110.98492947, 102.88118406, 115.34397786,
       104.65726532,  58.82027163,  95.65154545, 114.28892985,
       105.6542777 ,  97.39110822,  61.38843656,  88.96975844,
        74.05143544, 100.66220439, 109.76599247, 105.12350448,
        92.18449357, 111.99054413,  88.35614326, 111.69202817,
       112.79535994,  90.77603457,  87.20866657,  85.5104259 ,
       107.66093796,  91.62881946, 109.24613859,  80.42591113,
        76.96207741, 106.68547311,  99.49061246,  80.82267476,
        88.7178185 , 122.00219057, 101.51872865, 133.37023351,
       114.59109709, 103.44156035,  73.56019352,  87.15134478,
        86.16286025, 131.66318347,  95.21330012, 123.450068  ,
       127.75892765, 111.59680122, 118.83907232, 102.59432128,
        94.36619736, 108.86231385, 111.82905649, 107.66045968,
        95.40713205, 104.02045481,  85.52807615, 105.00438765,
        73.57719006,  99.34484866, 110.97162398, 115.007297  ,
       118.92819509,  83.19957462, 107.23923284,  94.53697645,
       111.73228331, 109.30463431, 121.96524583,  86.66432476,
       133.8554057 , 106.92894204,  85.69518986,  84.65655417,
        92.59149747,  81.64667958,  78.12778007, 111.93073834,
        97.22604474, 117.97108448, 133.77917111, 111.73777598,
       101.3772753 , 111.88280283, 107.49789632,  88.33374109,
       120.56904202, 105.53702063,  66.82590392,  98.82924012,
        84.73165969, 110.23947813,  98.35735603,  82.0051212 ,
        92.10820534, 119.84744572,  76.74335287,  96.70827204,
        86.65944224,  97.61826469, 114.10987039, 108.8041706 ,
        71.85133923, 115.46719154,  73.09151624, 102.78994968,
        98.68925616,  91.98450724, 107.85604127, 109.03167846,
        82.48370106, 106.54420246,  86.66625746, 102.09051005,
        85.55461959,  94.33241713,  92.21462177, 113.76315195,
       105.46630023, 104.42224698,  99.37052411, 105.14131061,
        90.28103341, 109.12367202,  53.40341467, 103.028917  ,
        82.07180967,  89.44329102,  84.13858417,  85.19113751,
       125.39467211, 122.94084183, 104.32072289, 116.61767315,
       119.42259681,  97.72212774, 110.23911295,  89.73416071,
       111.92346385,  93.29540424, 125.27376571, 124.30056168,
        62.99231162,  85.41896114,  92.75009758,  92.4381146 ,
       112.6784395 , 126.24006452, 114.62081471,  96.83078465,
        85.17174391, 112.00468597, 112.84218119,  90.57671934,
       101.92006786,  83.51835981,  90.73520425, 117.62288088,
        82.70973881, 101.74540638, 123.23841647,  95.92828054,
        96.53487209, 121.08952355, 102.6544391 , 105.75291257,
       115.7854167 ,  92.16627419,  89.10510465,  89.64460096,
       102.6888219 ,  80.03647216, 117.87498199, 115.90064414,
       116.17763914, 106.68214326,  74.67741997,  95.26704842,
        92.0179295 , 117.7419258 , 103.84827145,  87.91519281,
        86.37998288,  97.79505717, 112.49823453,  72.46217677,
        79.72827065, 118.70464219, 108.93712803,  83.41001437,
       103.79427486,  79.03538927, 113.12594806,  95.95486096,
        75.06726689,  86.32804777,  89.27155818,  89.39151226,
       117.58365361, 113.60212339,  88.69447095,  93.59812156,
       131.0146627 ,  77.30601933, 114.37498307, 114.40409792,
        91.4069848 , 111.4126082 ,  99.88159577,  86.25051542,
       101.5708639 ,  64.41011906, 105.31752335,  84.94555922,
       110.75762202, 101.08911056, 100.38661622, 102.82599819,
       120.32055787,  80.19937411, 105.01446804,  99.61597285,
       105.6908405 ,  72.95457035,  96.66786771, 118.70092975,
        83.84102677,  93.38221911,  98.53268017, 104.98368854,
        77.53094482,  90.03597239,  89.74955617,  95.43375177,
        99.53105585, 106.32842564, 103.30063264,  80.31576963,
       112.51919022,  59.51189311, 112.61765075, 110.53579962,
        99.41237385,  92.74380016, 102.28978155, 110.97194334,
        77.87181955,  71.86301953, 124.09485865,  71.15284269,
       101.30337166, 101.70601827, 105.92896678, 102.0178609 ,
        82.91235872, 101.36375447,  64.062278  , 106.1991393 ,
        91.37736208,  97.22773542, 110.45875052,  99.69842189,
        94.42665179, 114.35039471, 108.71205203, 101.86662832,
        76.17442435,  83.90597062,  86.50028214,  92.48546815,
        95.40808923,  87.13072022, 105.47949695,  97.84978831,
        77.94393584, 101.891968  ,  92.75931755,  99.4102017 ,
       119.7871068 ,  85.93013925,  96.10113606, 106.9937199 ,
       127.90975444,  93.54361551, 104.55697853, 117.22124932,
       122.84950428,  63.84585297,  63.7500294 , 104.74060216,
        91.99382186, 107.13379083,  85.0414633 ,  88.3595543 ,
        89.61053108,  86.08248485, 101.89524862,  65.39795649,
        83.26642654,  85.53616415,  88.32140783, 100.51374222,
        99.29407889, 128.98136151, 118.30824825,  93.39047123,
        93.43432704,  95.99638814, 110.49254562, 100.78655811,
       119.01245282,  87.04707063, 108.2558807 , 121.28204009,
        98.10403583, 101.48243298,  87.22433944, 131.98038944,
        87.25323988,  77.31424751, 133.05106255, 110.38284671,
        97.90951057,  92.95075776,  87.55568358, 102.26060798,
        98.26146038, 113.76843867,  90.77120495, 101.80930538,
       129.54009509, 103.79115856, 107.96286371, 111.33148258,
        73.82731339,  81.60051079, 113.66265489, 107.62402533,
       115.22814683, 108.67291666, 110.38738979, 112.3261984 ,
       120.06868013, 109.96145927, 100.5649378 ,  83.20069481,
       121.64632456,  88.85081881, 106.75906594,  99.48202549,
       120.19423563, 116.39783465, 109.2641715 , 109.58455407,
       115.97859598,  92.71204838, 114.5339559 ,  96.21218718,
       100.27724828, 108.94865492, 101.48466217, 113.33623147,
        96.22214375, 104.5768171 ,  86.77425538,  86.4595666 ,
        98.71225133, 101.99448215,  91.08898626,  81.13229344,
       118.25332056,  95.24466585, 120.61785402,  87.6975951 ,
        91.13486338, 108.13610132, 101.26517879,  76.81231044,
       109.07195373,  89.28176815, 111.90305869,  98.05420482,
        83.37044279,  68.97615608, 113.02581362, 112.80597249,
        98.33864061,  98.13940033, 110.39762889, 106.8993378 ,
       111.25487517, 121.25358181,  95.47552996,  83.79764421,
        94.39368943,  94.82100559, 113.50632235,  93.58234947,
       125.86340722, 114.36554729,  88.18435157, 117.79667477,
       123.48688289,  83.91808945, 100.64669661,  91.50671936,
        66.29881996,  93.76529179,  85.11262916, 102.27369144,
        88.09930789, 119.63338299, 104.54874232, 117.53292742,
       102.19194877, 124.17934725, 111.50016961, 118.10771467,
       120.37848259,  98.66929628,  89.33172676, 137.3287533 ,
        73.67383198, 115.50217456,  88.81774358, 107.18996966,
        97.96399095, 106.24514885, 109.87619849, 105.17639626,
        90.01189073, 100.41134005,  96.74770484, 113.35642394,
       108.90774202,  85.31384779,  82.35595227, 115.1316856 ,
       117.11172883,  84.94644647, 108.06250402,  94.55817567,
       107.23329218,  93.14439507, 106.69813924,  87.28049971,
       108.51350704,  91.29911463, 125.65875067,  88.61752764,
        99.49761186,  80.10199934, 105.41773965,  75.43247074,
        74.93000098,  98.66551082, 101.17673418,  84.15293917,
       102.29925705, 117.59913111, 107.27686005, 105.91893711,
        68.97144962, 108.51113015,  94.12112884,  99.01336689,
       116.16912649, 108.42826468, 105.80374002,  98.92686518,
       108.6102209 , 113.84123024,  98.71332641,  97.29988522,
        90.46010729,  97.92964647, 118.01200943, 103.73920404,
        84.46827785,  97.59746321,  94.14480334,  79.57798106,
        93.61157639,  93.80780562, 117.90264516,  94.83161757,
        91.59341438, 102.53238209, 113.91160544,  98.75886891,
       106.72291485, 102.65458004,  98.89405505, 121.20047137,
       109.9306064 , 103.12789809, 109.23359617,  98.41666148,
       123.16077962,  74.12284653, 124.15370091,  94.42652196,
       112.15012243, 117.44048517,  88.33963878, 107.97203591,
        73.60343065,  81.8106992 ,  96.05857194,  91.9664295 ,
       110.50894293,  95.0498874 , 103.33570488,  72.78487744,
        90.02357813, 112.12583504, 119.28955754, 108.81091572,
       114.27058287,  91.86358767,  75.94525242, 108.06396366,
       101.61967827,  95.13130879, 103.43564381,  93.64788598,
        90.61452942, 115.07963025,  78.78342052, 102.77575106,
       134.63325929,  96.72788844, 113.35530362, 112.84253474,
       110.02967149,  93.0437875 ,  82.6543777 , 110.21952978,
       100.10326459, 111.14188165, 106.4290807 ,  84.68734976,
        68.08084519,  86.82228257,  73.65672036,  96.99012473,
       117.6242909 , 121.172443  ,  94.47261868,  77.82791902,
       115.58427262,  96.34125407, 118.6122257 , 112.35576949,
        75.78859645, 106.62902953,  66.60448832,  77.01902153,
       112.72458694, 112.86124744,  91.81275883,  87.68947698,
        98.88891666, 108.81779088, 101.80308457, 100.41810074,
       112.21417325,  98.91209076,  92.80194736, 113.75245166,
       116.49209545, 112.96425543, 134.06348986,  81.09867323,
        99.08955525, 101.38403221,  86.97409782, 104.40803887,
       134.21989917, 106.47255879, 100.1238457 ,  95.27197831,
        89.98186886,  83.2991713 ,  93.86282373, 124.49170084,
       129.79549294, 115.29631961, 108.94818254, 102.08453796,
       110.82538955, 101.46350921,  88.2999537 ,  67.65554156,
        98.90845709, 103.07110983,  94.58473776,  95.67395426,
       113.31211495,  88.37580015, 104.14143831, 103.88323154,
        91.7772415 ,  95.35216092, 122.51393013,  98.04840002,
       103.6435971 , 102.57584022, 111.93863427,  98.35814349,
        90.66796486, 108.70651069, 109.51048448, 119.799576  ,
       133.89540196, 107.81138242, 136.58432562,  89.19389865,
       109.83965857,  86.69506096,  87.31255305, 101.2424369 ,
        55.62668369,  77.60374272, 114.3367747 ,  80.97880992,
       118.53172431,  83.02871554, 103.67964642,  94.81080287,
        96.94780779,  84.77856424,  71.09899859, 106.55263549,
        92.57853405,  71.80166067,  86.0736544 ,  90.54615366,
        76.78513374, 105.27985623, 134.53429394,  99.30602284,
        90.23232674,  93.0987328 ,  84.85671244,  95.58584066,
        98.14625114,  97.79345638,  97.83225927, 104.22496872,
       104.79799426,  89.18755689, 116.65867518,  92.28671287,
        96.45268714, 117.52893795, 113.76558495, 103.60523353,
        92.37668099, 107.91690857, 114.31578435, 100.8782035 ,
       103.32879139,  65.32905686,  97.95104231, 122.59383686,
       124.81947387,  98.74971543, 100.69854457,  88.5824345 ,
        85.88724401, 125.40305735, 120.02360517,  87.83782467,
       111.7407148 ,  91.18183866,  96.24669133, 118.45822937,
       130.76448928,  91.28951105, 103.12620338,  92.89876226,
        83.75649726,  75.32715655, 120.90673399, 118.05122231,
        71.99685903, 119.6870392 ,  77.34607531, 115.36141265,
       105.18268499, 113.39770073, 145.90015043, 118.07841267,
        98.39314929,  84.30453533, 111.76229144,  97.14505462,
        86.04751504, 108.75890516, 108.76764346,  95.95216893,
        84.51104447,  92.30628139, 103.1769092 , 114.63849267,
        97.36402675,  98.34109894, 101.88993436, 102.96030115,
        92.6732097 ,  98.12879497, 103.59333162, 109.70436054,
       116.62543393, 108.92640238,  71.79316942,  88.15487499,
       112.14113257,  78.06567631, 104.84970417,  79.91545571,
       104.60522546, 114.60232208,  96.81081929, 101.00671668,
       115.8822564 , 105.69593646, 100.20561348, 115.27973664,
       113.95821475,  91.95571879,  88.22055782, 109.34107913,
        82.00799605, 101.78241227,  88.74920687, 100.20292706,
       103.11258863, 129.28085847,  92.11272486, 105.19120042,
        99.86815833, 110.41671393,  92.08801036, 113.36704988,
       114.19249577,  63.50772033,  75.01532961, 115.26926736,
        87.44429911,  89.00825494,  92.29724442,  99.67184325,
        90.65420691, 106.4701088 ,  92.29923447, 100.58955274,
       127.57085888,  76.2725537 , 122.1570654 ,  99.39215872,
       106.61304774,  88.42008597,  67.91763318, 116.83909451,
       105.57494448,  97.80177082, 126.31059375,  77.15518921,
       102.16154403,  98.57752868,  93.98807834, 135.62281322,
       115.96890151,  96.03748149,  98.49906302, 106.05326857,
       100.39084506, 109.74471023, 114.91307582,  61.93702776,
       119.52465799, 110.13753411,  68.78663195, 101.63326785,
       110.49983521, 128.64824297,  81.98251772, 106.07742605,
        80.36881659, 103.23916239, 116.40693625, 104.83142942,
        87.04006408,  94.64085017, 110.77469924, 101.41505249,
        85.80022646,  77.80097   ,  99.11219997,  90.02714665,
        85.42073083,  79.57632902, 100.54662922,  83.1524514 ,
       103.12201862, 120.11463817,  97.36593268,  73.65804478,
       101.16704135, 102.1711339 ,  70.33952864,  89.99752275,
       108.99237282,  81.27186199,  79.12896181, 103.26887381,
        71.38680733, 113.6253292 ,  70.70951148,  92.18867033,
       101.48200696, 113.76494333,  92.77862678, 103.94144876,
       105.7793744 , 115.29480095, 117.71928792,  92.6729985 ,
       117.93210898,  75.28948477, 109.86772946, 117.38182814,
        91.95428703,  89.95317601,  92.24761512, 113.21829867,
        83.17876308, 116.92848233,  99.60197745,  88.49936258,
       121.10184635, 101.94929214,  83.39057163,  71.63880199,
        85.60382158, 102.69302954,  84.29437918, 100.30233984,
        97.61666645, 142.39576752,  98.22314345,  96.20155469,
       109.66212966,  99.67747615,  88.35133046,  97.95693705,
       102.76982497,  90.70300657, 101.18122521, 130.6513912 ,
        83.04971702,  94.47414706,  85.4611832 , 111.44683237,
        82.74197061,  92.0342821 , 101.14648099, 124.80190763,
        84.19524646, 129.70821554,  90.27696191,  99.98167272,
       118.93227885, 100.41592602,  85.87469344,  95.69659468,
        95.99499791, 103.94441298,  84.72074883, 108.89480403,
        94.41686298,  79.09845297,  71.76222877, 104.48192209,
       102.87758992, 134.77596959,  92.44509811, 102.31463926,
        96.39862366,  84.42218816, 100.25516202, 102.3303007 ,
       123.93975008, 107.03162847,  88.42132956, 106.71815523,
        98.4046682 , 129.65409824, 122.4801017 ,  89.46029648,
       115.84911132,  91.14412403,  78.91231541,  93.26566933,
       112.41074396, 132.52818911, 119.26385396, 104.23944249,
       108.35028869, 106.9502543 ,  97.07281511,  81.307348  ,
       112.45325409, 126.40558001, 120.2052483 ,  98.75254377,
        62.31924269, 100.91047446, 136.52998865,  83.50599013,
       104.71822522,  91.71048589, 111.53578846,  97.52907247,
       100.52726843, 102.5875812 , 114.83982706,  97.03102559,
        90.74604564,  84.66216458, 122.57823805,  89.58024102,
       109.21014852, 113.24032345, 104.11056542,  73.31649936,
       119.09449686,  98.93453865, 122.55900661, 110.02305836,
        78.48375295,  84.9805042 ,  97.07202576,  99.94508361,
        99.9783062 ,  96.01921361, 101.29598596,  97.00863551,
       106.67036674,  93.32303109,  84.16446112, 111.82104509,
        98.24879281,  98.52870576, 125.01314229, 129.88367339,
        96.7503907 , 107.81668726,  95.9279338 ,  97.94370234,
       133.77278313, 116.08844787, 126.84901093,  93.1402235 ,
        97.43557754, 104.62749445, 137.84107072, 103.92423898,
        94.07122262, 110.51958396,  89.91942194,  81.44068344,
        81.81883854, 122.64160374, 107.5395758 ,  74.91281061,
        96.6315765 , 118.41874776,  76.96909964,  74.30474251,
        76.33413708, 103.75182829,  78.21321974,  74.51846817,
       101.54482666, 102.48652068,  81.1651563 ,  71.82207752,
        98.39217316, 114.23920761,  76.19285409,  85.96051139,
        91.5696295 ,  80.13631112,  97.02296721,  82.89619059,
        73.28751256, 118.73491182,  92.71541182, 108.70569959])

Compute the **mean**, **median**, and **mode**

In [35]:
mean=np.mean(samples)
median =np.median(samples)
#mode =stats.mode(samples)
mean
median

100.20071553500466

Compute the **min**, **max**, **Q1**, **Q3**, and **interquartile range**

In [34]:
min = np.min(samples)
max =np.max(samples)
q1 =np.percentile(samples,25)
q3 =np.percentile(samples,75)
iqr =q3-q1
print(min)
print(max)
print(q1)
print(q3)
print(iqr)

53.23471129697427
148.5638447772275
89.7553188378769
109.99957282971488
20.24425399183798

Compute the **variance** and **standard deviation**

In [33]:
variance = np.var(samples)
std_dev =np.std(samples)
print(variance)
print(std_dev)

222.87266954060937
14.928920575199312

Compute the **skewness** and **kurtosis**

In [38]:
skewness =stats.skew(samples)
kurtosis =stats.kurtosis(samples)
print(skewness)
print(kurtosis)

-0.07335708221130754
-0.12773043573078846

## NumPy Correlation Calculation

Create an array x of integers between 10 (inclusive) and 20 (exclusive). Use `np.arange()`

In [30]:
x = np.arange(10,20)
x

array([10, 11, 12, 13, 14, 15, 16, 17, 18, 19])

Then use `np.array()` to create a second array y containing 10 arbitrary integers.

In [41]:
y = np.random.randint(1,100,10)
print(y)

[ 1 48 39  8 69 76 20 96 51 59]

Once you have two arrays of the same length, you can compute the **correlation coefficient** between x and y

In [43]:
r = np.corrcoef(x,y)
r

array([[1.       , 0.5257767],
       [0.5257767, 1.       ]])

In [44]:
r = np.corrcoef(y,x)
r

array([[1.       , 0.5257767],
       [0.5257767, 1.       ]])

## Pandas Correlation Calculation

Run the code below

In [45]:
x = pd.Series(range(10, 20))
y = pd.Series([2, 1, 4, 5, 8, 12, 18, 25, 96, 48])

Call the relevant method  to calculate Pearson's r correlation.

In [47]:
r = x.corr(y)
r= y.corr(x)
r

0.7586402890911869

OPTIONAL. Call the relevant method to calculate Spearman's rho correlation.

In [48]:
rho = x.corr(y, method='spearman') 
rho

0.9757575757575757

## Seaborn Dataset Tips

Import Seaborn Library

In [53]:
import seaborn as sns

Load "tips" dataset from Seaborn

In [55]:
tips = sns.load_dataset("tips")
tips

     total_bill   tip     sex smoker   day    time  size
0         16.99  1.01  Female     No   Sun  Dinner     2
1         10.34  1.66    Male     No   Sun  Dinner     3
2         21.01  3.50    Male     No   Sun  Dinner     3
3         23.68  3.31    Male     No   Sun  Dinner     2
4         24.59  3.61  Female     No   Sun  Dinner     4
..          ...   ...     ...    ...   ...     ...   ...
239       29.03  5.92    Male     No   Sat  Dinner     3
240       27.18  2.00  Female    Yes   Sat  Dinner     2
241       22.67  2.00    Male    Yes   Sat  Dinner     2
242       17.82  1.75    Male     No   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2

[244 rows x 7 columns]

Generate descriptive statistics include those that summarize the central tendency, dispersion

In [56]:
tips.describe()

       total_bill         tip        size
count  244.000000  244.000000  244.000000
mean    19.785943    2.998279    2.569672
std      8.902412    1.383638    0.951100
min      3.070000    1.000000    1.000000
25%     13.347500    2.000000    2.000000
50%     17.795000    2.900000    2.000000
75%     24.127500    3.562500    3.000000
max     50.810000   10.000000    6.000000

Call the relevant method to calculate pairwise Pearson's r correlation of columns

In [57]:
tips.corr('pearson')

            total_bill       tip      size
total_bill    1.000000  0.675734  0.598315
tip           0.675734  1.000000  0.489299
size          0.598315  0.489299  1.000000